[2017-05-18 00:27] adahms opened #1 "Introduction"
Write a short introduction to the guide that outlines the purpose of the guide, the intended audience, and the high-level topics for which the guide provides guidance.

[2017-05-18 00:31] adahms opened #2 "Overview"
Write a short introduction to the 'Overview' section in introduction.adoc that provides a high-level introduction to upstream-downstream collaboration, the framework, and the problem this framework solves.

[2017-05-18 00:34] adahms opened #3 "Structure"
Provide a short introduction to the framework in the '== Structure' section of the structure.adoc file. This short introduction should provide a brief overview of the framework, individual aspects of which are outlined in further sections.

[2017-05-18 00:35] adahms opened #4 "Directory Structure"
Write a detailed overview of the directory structure used in the framework in the '=== Directory Structure' section of the structure.adoc file.

This overview must describe the following topics:

- The use of a 'common' directory for attributes
- The structure of individual content directories
- The structure and use of symlinks to 'images' and 'topics'

[2017-05-18 00:38] adahms opened #5 "AsciiDoc Attributes"
Write a detailed overview of the use of AsciiDoc attributes in the framework in the '=== AsciiDoc Attributes' section of the structure.adoc file.

This overview must describe the following topics:

- How to define AsciiDoc attributes in the 'brand' AsciiDoc attribute file in the common directory
- How to include the 'brand' AsciiDoc attribute file in the master.adoc file
- Common AsciiDoc attribut

[2017-05-18 00:40] adahms opened #6 "Rendering Content"
Write a detailed overview of how to render the source AsciiDoc content into HTML and other formats in the '=== Rendering Content' section of the structure.adoc file.

[2017-05-18 00:45] adahms opened #7 "Synchronizing Content"
Write a detailed overview of how to synchronize content between an upstream and downstream source in the '=== Synchronizing Content' section of the structure.adoc file.

This overview must describe the following topics:

- Why content must be synchronized
- The mechanism used to synchronize content

The content should provide an overview of synchronization that discusses the need for content to be

[2017-05-23 00:01] adahms opened #8 "Contributing to the framework"
Write a detailed overview of how to contribute to the framework in the '== Contributing to the Framework' section of the contributing_to_the_framework.adoc file.

This section must contain two sub-sections that cover the following topics:

* How to propose a change
* How to propose an edit to the document

[2017-05-30 02:50] adahms commented on #8
@sjay72 - We don't really have a detailed method for proposing changes just yet, so perhaps we can just recommend raising an issue for now. As for proposing an edit to the document, a very general procedure on how to fork the project and create a topic branch should be sufficient.

Let me know if you have any questions or concerns.

[2017-05-30 12:56] nengard commented on #1
Done : https://github.com/redhat-documentation/community-contribution-template/commit/38b582ed81d66f5a41384b594f5591426acaa08e

[2017-05-30 15:18] sjay72 commented on #8
@adahms, thank you for the detailed request. I understand my mission and have added it to my to-do list.

[2017-06-05 06:16] adahms commented on #1
@nengard - Thanks for taking a look at this issue.

My apologies for not being clearer in the description, but this issue is actually for the framework itself, so I think we need a more general introduction to what the single-sourcing framework is and does, and the intended audience of the guidance.

Issues also need to be submitted as a PR from a forked version of the project.

I'll re-open this

[2017-06-16 22:28] adahms opened #10 "AsciiBinder"
Write a detailed overview of AsciiBinder, and its advantages and disadvantages in terms of the framework in the '=== AsciiBinder' section of the supported_tools.adoc file.

[2017-06-16 22:28] adahms opened #11 "GitBook"
Write a detailed overview of GitBook, and its advantages and disadvantages in terms of the framework in the '=== GitBook' section of the supported_tools.adoc file.

[2017-06-16 22:29] adahms opened #12 "RST + Sphinx"
Write a detailed overview of RST + Sphinx, and its advantages and disadvantages in terms of the framework in the '=== RST + Sphinx' section of the supported_tools.adoc file.

[2017-06-19 16:31] nengard commented on #11
Where were you thinking this would go? Under

=== Supported Tools and Formats

OR

=== Unsupported Tools and Formats

[2017-06-19 16:49] nengard opened #14 "Add communication guidelines"
Not sure where this will fit, but we should add the communication guidelines.

[2017-06-19 16:50] nengard commented on #1
Oops, new commit : https://github.com/redhat-documentation/community-contribution-template/commit/38b582ed81d66f5a41384b594f5591426acaa08e

[2017-06-19 16:53] nengard commented on #1
Oops, new commit: https://github.com/redhat-documentation/community-contribution-template/pull/15

[2017-06-19 17:06] nengard commented on #2
Pull request: https://github.com/redhat-documentation/community-contribution-template/pull/16

[2017-06-19 17:07] nengard commented on #5
@lbopf you might find a lot of useful stuff in our doc attributes for AMQ 7 : https://gitlab.cee.redhat.com/AMQ7-documentation/amq7-documentation/raw/master/docs/topics/templates/document-attributes.adoc because we have so many modules we use a lot of attributes.

[2017-06-20 12:17] nengard commented on #11
Nevermind, there was an update yesterday :)

[2017-06-20 12:36] nengard commented on #11
Pull request: https://github.com/redhat-documentation/community-contribution-template/pull/17

[2017-06-21 21:11] sjay72 opened #18 "test"
just testing - please delete

[2017-06-21 21:14] #18 closed

[2017-07-03 05:46] adahms commented on #5
This issue is addressed in #9

Closing.

[2017-07-03 05:46] #5 closed

[2017-07-18 03:26] adahms commented on #2
#16 merged; closing.

[2017-07-18 03:26] #2 closed

[2017-07-26 06:58] adahms commented on #7
Assigning to Fintan for review.

Fintan - this is the issue we discussed during the last project meeting to provide content on synchronizing content.

We discussed that we would start by documenting the batch commit method you have been working on, so it looks like we will need a general introduction to synchronizing content, and a specific section on how to do so using the batch commit method.

L

[2017-07-26 07:22] adahms opened #20 "Add an example of how to publish content using Asciidoctor+Docker+Travis+gh-pages"
A description of how to publish content using the RPM packaging method must be added to the '==== RPM Packaging' section of the 'structure.adoc' file. This includes a brief introduction to the method and how it works, and a link to a location where readers can find more information.

[2017-07-26 07:23] adahms commented on #20
Assigning to Petr for review.

[2017-07-26 07:24] adahms opened #21 "Add an example of general publication methods"
A description of how to publish content using some general methods used by existing communities must be added to the '==== Other' section of the 'structure.adoc' file. This includes a brief introduction to each method and how it works, and a link to a location where readers can find more information.

[2017-07-26 07:28] adahms commented on #21
Assigning to Mikey for review.

Mikey - this is the section we discussed during the last project meeting about adding some examples of existing communities. Feel free to change the 'Other' section into a set of sections, with one for each example.

[2017-07-28 11:22] fbolton opened #22 "All headings must have IDs"
According to our Asciidoc standards, headings should include an ID, which is defined by specifying the ID inside double square brackets, `[[`, `]]`, on the line preceding the heading. For example:

[code]

This is important for providing a clean structure for making cross-references within the document and is highly recommended for the Pantheon toolchain. I believe it has even been suggested that

[2017-08-01 01:39] adahms opened #24 "Add an example of how to publish content using the microservices method"
A description of how to publish content using the microservices method must be added to the '==== Microservices' section of the 'structure.adoc' file. This includes a brief introduction to the method and how it works, and a link to a location where readers can find more information.

[2017-08-01 01:49] adahms opened #25 "Add general examples to illustrate community readiness"
Some generalized examples that illustrate community readiness to move to an upstream-downstream collaboration workflow must be added to the '=== Evaluating the Framework' section of the 'introduction.adoc' file.

[2017-08-01 12:21] nengard commented on #14
From our meeting:
--------

(mariel) Maybe we can ask communities, and give them the option whether they would like to or mind being included.
(jstickler) It might be weird for some teams, so asking them would be good. Teams would want to know if information related to them is published.
(nengard) To clarify, this issue was originally intended to target some of the content in the communication pla

[2017-08-25 02:08] adahms commented on #11
Thank you for taking a look at this one, @nengard

The PR has now been merged, so I am now closing this issue.

[2017-08-25 02:08] #11 closed

[2017-08-25 02:08] adahms commented on #10
Addressed in #27

[2017-08-29 12:49] nengard commented on #1
New commit https://github.com/redhat-documentation/community-contribution-template/pull/30

[2017-08-29 13:10] adahms commented on #1
#30 has now been merged; closing.

[2017-08-29 13:10] #1 closed

[2017-08-29 23:57] adahms commented on #10
#27 has now been merged; closing.

[2017-08-30 00:25] #10 closed

[2017-08-30 04:36] adahms opened #31 "Add an introduction to the 'Structure' chapter"
A brief introduction must be added to the start of the Structure chapter to outline the purpose of the chapter and the content that it covers.

The introduction must cover the following -

* What should readers know before they begin reading?
* What does the chapter cover?
* What will readers come away with after reading?

[2017-08-30 04:38] adahms opened #32 "Add an introduction to the 'Building Content' chapter"
A brief introduction must be added to the start of the Supported Tools chapter to outline the purpose of the chapter and the content that it covers.

The introduction must cover the following -

* What should readers know before they begin reading?
* What does the chapter cover?
* What will readers come away with after reading?

[2017-08-30 05:30] adahms commented on #31
Looks like I created this one in error, and it is already being handled.

Closing for now.

[2017-08-30 05:30] #31 closed

[2017-08-30 17:16] #8 closed

[2017-09-26 13:21] nengard opened #38 "Add an example of how to publish content using Asciibinder"
A description of how to publish content using Asciibinder must be added to the '==== Asciibinder' section of the 'structure.adoc' file. This includes a brief introduction to the method and how it works, and a link to a location where readers can find more information.

[2017-09-26 13:24] nengard opened #39 "Add an example of how to publish content using GitHub Pages"
A description of how to publish content using Github pages must be added to the '==== GitHub Pages' section of the 'publishing.adoc' file. This includes a brief introduction to the method and how it works, and a link to a location where readers can find more information.

[2017-10-06 13:08] nengard commented on #3
Content merged.

[2017-10-06 13:08] #3 closed

[2017-10-10 11:57] nengard commented on #38
Merged

[2017-10-10 11:57] #38 closed

[2017-10-10 12:47] #4 closed

[2017-10-12 12:07] nengard commented on #14
Include information about red hat references in the guide and on the diagrams.

[2017-10-12 12:07] nengard commented on #21
@thatdocslady Just checking in here, do you have anything to add?

[2017-10-13 14:31] thatdocslady commented on #21
@nengard yes! Sorry it's been crazy and I haven't had a chance to compile my thoughts on this yet. If someone else is itching for this please pass it on, otherwise I should have more bandwidth in the coming weeks :)

[2017-10-17 19:25] nengard opened #42 "Turn content into a book"
Create a master.adoc file for publishing content as a book.

[2017-10-17 19:28] nengard opened #43 "Move Asciidoc content out of structure.adoc"
This content makes more sense in its own file/module.

[2017-10-17 19:28] nengard opened #44 "Move Publishing Content out of structure.adoc"
This content makes more sense in its own file/module.

[2017-10-17 19:39] nengard commented on #20
This content is now living in the publishing.adoc file.

[2017-10-17 19:40] nengard commented on #21
Okay @thatdocslady this content is now living in the publishing.adoc file.

[2017-10-17 19:40] nengard commented on #24
This content is now living in the publishing.adoc file.

[2017-10-17 19:40] #44 closed

[2017-10-17 19:42] #42 closed

[2017-10-17 19:54] nengard commented on #22
Resolved (we'll probably have to do this again as we add more content and folks forget IDs.

[2017-10-17 19:54] #22 closed

[2017-10-18 18:02] pmkovar commented on #39
FYI, #20 is an example of how to publish with GitHub pages.

[2017-10-18 18:37] nengard commented on #39
Awesome, closing.

[2017-10-18 18:37] #39 closed

[2017-10-18 21:02] pmkovar commented on #32
@nengard I'd suggest renaming "Supported Tools" to "Building Content", because that's what the chapter really describes.

While we are at it, let's also consider moving "Rendering Content" to "Building Content" (and rename it to "Rendering Content Locally" or something like that). Maybe that's something to address with #43?

[2017-10-18 22:07] pmkovar opened #50 "Improve the guide structure"
There were a few structural issues that I addressed with #49, but a few more are remaining. The ToC should follow a standard workflow used by a typical upstream documentation project.

* Decide on the structure (+ create repos if needed)
* Migrate content if applicable
* Update
* Render locally and/or build
* Publish
* Sync with downstream

Let's change the guide structure to reflect that. @nengar

[2017-10-19 14:39] pmkovar commented on #50
Good point. This wasn't supposed to be a definite list or a complete ToC. Deciding if you can even work with the community should probably precede all the other steps. Tips etc. could live in an appendix, if we want to (visually) separate it from the workflow steps?

[2017-10-19 18:07] nengard commented on #32
Yes @pmkovar we talked about moving this content in our last meeting.  I agree with you 100%.

[2017-10-19 18:08] nengard commented on #50
Sounds great to me!  So maybe:

- Introduction
- Evaluating Community
- Communicating with Community
- Decide on the structure (+ create repos if needed)
- Migrate content if applicable
- Update
- Render locally and/or build
- Publish
- Sync with downstream
- Tips & Tricks for working with communities

[2017-10-19 18:11] nengard opened #51 "Make external links open in new tabs"
I think we should make it so that links to outside sites open in a new window. We can do this by putting a ^ before the ] and adding :linkattrs: to the attributes.

[2017-10-19 19:54] #51 closed

[2017-10-20 17:52] #12 closed

[2017-10-23 17:43] #20 closed

[2017-10-23 17:50] pmkovar opened #55 "Change repo name"
In preparation for publishing the guide, let's change the repo name to something like `community-collaboration-guide` which better describes the content within the repo.

This change will also allow us to publish to `https://redhat-documentation.github.io/community-collaboration-guide` with GitHub Pages.

I'd also rename the guide top directory `doc-Community_Collaboration_Guide` to `community-col

[2017-10-23 17:56] pmkovar commented on #50
LGTM, thanks.

[2017-10-24 12:20] nengard commented on #50
Replace Communicating with Collaborating - and move this above evaluating.

[2017-10-31 12:08] nengard commented on #14
Merged

[2017-10-31 12:08] #14 closed

[2017-10-31 20:48] #55 closed

[2017-11-07 12:11] #6 closed

[2017-11-07 13:23] nengard commented on #43
From Petr: While we are at it, let's also consider moving "Rendering Content" to "Building Content" (and rename it to "Rendering Content Locally" or something like that).

[2017-11-07 13:25] nengard commented on #50
This is done for the chapters we have content in - comments added as placeholders for chapters we don't have yet.

[2017-11-07 13:25] #50 closed

[2017-11-07 13:34] nengard commented on #21
I'm not sure if we really need an 'other' section. I have commented this out, we can revisit if we think we need it at a later date. https://github.com/redhat-documentation/community-collaboration-guide/pull/59

[2017-11-07 13:34] #21 closed

[2017-11-07 13:36] nengard opened #60 "Publish Guide to GitHub pages"
I think we're about ready to get a draft published.

[2017-11-07 13:37] nengard commented on #7
@fbolton will you have a chance to work on this in the coming weeks?

[2017-11-07 13:37] nengard commented on #24
Work on this will begin after November 17th.

[2017-11-07 13:53] fbolton commented on #7
@nengard, so the "batch commit" approach to synchronizing content is already written up and merged. I haven't thought about this issue much since adding that content. I guess the next question is: what other synchronization methods do we want to document/support?

[2017-11-07 13:55] nengard commented on #7
Oh, I guess I didn't think about that.  I'll add it as a question for our next meeting.

[2017-11-10 21:29] #43 closed

[2017-11-20 15:29] pmkovar commented on #60
@nengard The guide has already been published at https://redhat-documentation.github.io/community-collaboration-guide/. I've configured it in f6d5eb69d975f06a6ded58f46bbbc8df8b2faa2e.

[2017-11-20 15:29] #60 closed

[2017-11-21 12:16] #7 closed

[2017-11-21 13:10] nengard commented on #25
@shaunix this might also be an area we can use your help.  If you want I can assign this to you :)

[2017-11-21 13:12] nengard opened #63 "Instructions for migrating an existing repository"
We need to add instructions on how to migrate an existing repository: https://redhat-documentation.github.io/community-collaboration-guide/#ccg-migrating-existing

[2017-11-21 13:12] nengard opened #64 "Add introduction to building content"
https://redhat-documentation.github.io/community-collaboration-guide/#ccg-building-content

[2017-11-21 13:13] nengard opened #65 "Add introduction to publishing content"
https://redhat-documentation.github.io/community-collaboration-guide/#ccg-publishing-content

[2017-11-21 13:14] nengard opened #66 "Add Tips & Tricks"
We have a section for Tips & Tricks: https://redhat-documentation.github.io/community-collaboration-guide/#ccg-tips-tricks , I think we should comment this out until we actually have something to add.  Does anyone have anything they'd like to add to this section? Or should we comment it out?

@bhardesty , @pmkovar , or @shaunix you might have some tips you'd like to share.

[2017-11-21 13:15] ncbaratta opened #67 "Add mailing list to contacts"
We have a section for contacts: https://redhat-documentation.github.io/community-collaboration-guide/#ccg-contacts

Should we have this just downstream? Do any of us want to put our email addresses out there?

[2017-11-21 13:16] nengard opened #68 "Evaluating the Framework & Checklist"
We need to add content to this section https://redhat-documentation.github.io/community-collaboration-guide/#ccg-evaluating-the-framework

[2017-11-21 13:19] ncbaratta opened #69 "Add instructions for embedding help in guides"
It might be nice to have a section on how we can embed UI help in our AsciiDoc in the publishing chapter.

[2017-11-21 13:24] nengard opened #70 "Add repo directory template"
It would be nice to have repo structure folders that folks could clone to their repository. It would match the structures we define in the guide: https://redhat-documentation.github.io/community-collaboration-guide/#ccg-project-structure

[2017-11-22 09:55] pmkovar commented on #63
This is going to be tricky to document because the instructions depend on the format and structure of a particular repo.

[2017-11-22 09:58] pmkovar commented on #66
It might make more sense to try to include Tips & Tricks in individual chapters.

[2017-11-22 10:02] pmkovar commented on #70
I believe this should live in a separate repo.

Also, let's consider using https://cookiecutter.readthedocs.io/en/latest/ as a template system for this.

[2017-11-22 10:05] pmkovar commented on #64
This is a duplicate of #32.

[2017-11-22 10:05] #64 closed

[2017-11-22 10:39] finp commented on #32
@pmkovar  you beat me to it! can we close this issue (32)? or is there still work to do?

[2017-11-22 12:06] finp commented on #32
@adahms  To be consistent with other chapters, I kept it short, and didn't link to sections, is that the style required?
https://github.com/redhat-documentation/community-collaboration-guide/pull/71

[2017-11-22 14:24] nengard commented on #63
I agree, I wonder if we should maybe vote next time on whether we need this in this particular guide or if it's outside of the scope.

[2017-11-22 14:25] nengard commented on #66
Yeah, that would be nice!

[2017-11-22 14:26] nengard commented on #70
I'd say a separate repo here in our group and yes we should totally share!

[2017-11-22 16:00] shaunix commented on #25
You can assign to me. I'll look at it next week.

[2017-12-05 15:57] #65 closed

[2017-12-07 00:17] sjay72 opened #73 "code/docs co-existing recommendations"
Someone asked me this week if this initiative had any guidance about scenarios where the Community wants docs to be in the same repo as the SW code.

[2017-12-07 13:40] nengard commented on #73
I don't think there would be any difference between a separate docs repo and a repo that is shared with software - but I'm sure we could put something together.  I know that @jenmalloy is working this way right now on an upstream project.

[2017-12-14 13:49] pmkovar commented on #73
When docs share a repo with software, the docs build system is often integrated with the software build system. That may allow for automated generation of referential content such as API, configuration options, etc.  Cf. OpenStack.

All of this is project-specific, not sure how much detail we want to provide here.

[2017-12-19 12:26] JStickler commented on #67
When I brought this up in discussions, I was thinking that open source projects tend to have some way to contact them with questions (IRC, mailing list).  What mechanism do we want to use to let people contact the team with questions?

[2017-12-19 12:38] JStickler commented on #73
At a previous job, when I was less experienced with Git, we had docs and code in the same repo.  And I ran into problems a couple of times (probably because I wasn't yet diligent about fetching changes from the repo) where when I went to check in my changes and ran into merge conflicts with the code that I didn't know how to resolve.  Since a lot of experienced technical writers might be just lear

[2017-12-19 13:15] nengard commented on #25
After our meeting today, we feel this is probably not necessary at this time.  If folks have questions on how https://redhat-documentation.github.io/community-collaboration-guide/#ccg-community-evaluation has worked for other communities we can add examples of this filled out with values for communities we have worked with in the past.

[2017-12-19 13:15] #25 closed

[2018-01-08 13:03] nengard commented on #67
I have requested a public mailing list.

[2018-01-08 13:05] nengard commented on #68
Decided on 12/19 that we didn't need this now that we have the info in the evaluating the community section.

[2018-01-08 13:05] #68 closed

[2018-01-08 13:08] nengard commented on #73
@jenmalloy @fbolton also said they have stories to share about this.  We'll need to find a place for this and come up with a way to share guidelines.  Any ideas?

[2018-01-08 13:09] nengard commented on #69
@jenmalloy do you think you could write up something short for this section?

[2018-01-08 13:12] nengard commented on #32
I forgot to close this.  We have merged this addition! Thanks @finp

[2018-01-08 13:12] #32 closed

[2018-01-08 13:21] jenmalloy commented on #69
@nengard, yes, this fell off my radar. Added it to my to-do list

[2018-01-08 15:09] pmkovar commented on #73
I think this can be a single topic covering both the repo structure and building, or separate topics that would go into Project Structure and Building Content, respectively.

[2018-01-08 15:17] pmkovar opened #74 "Fill content gaps for site builders"
So far, we cover asciibinder, github pages, and there is an item open for microservices (#24). As there are many other site builders for AsciiDoc (and other formats) that are employed within Red Hat projects, such as jekyll or middleman, we should cover those too.

Coverage should be based on analysis of what we actually use in projects.

[2018-01-08 19:52] nengard commented on #74
Okey dokey, are these tools you are using? Can you write these sections?

[2018-01-08 20:07] pmkovar opened #75 "Modular structure"
Using this as a tracker for turning the current structure into a modular document.

[2018-01-08 20:13] pmkovar commented on #75
# Overview

Currently, the document's structure is pretty linear in that each chapter follows a logical step for planning, creating and managing a documentation project. This requires the reader, for example, to jump from rendering content to building to publishing to syncing because the chapters cover a number of tools, however, a typical use case is that the reader is only interested in using on

[2018-01-08 20:13] pmkovar commented on #75
Tagging @nengard

[2018-01-08 20:23] nengard commented on #75
Looks good, I'd say this is a phase 2 kind of thing.  We want to get the guide content complete and then we can talk about reorg and creating other assemblies.  Putting this on agenda for tomorrow.

[2018-01-09 12:14] nengard commented on #63
Per our meeting 1/9/18 - probably can't do this - but can write some tips for structures we see frequently. Could also be a checklist of items such as :

- are we in gitlab
- are we in github
- did we set up the attributes file
- etc.

[2018-01-09 12:15] nengard commented on #63
Possible titles:

- Checklist
- Preparation

Not exactly migration.

[2018-01-09 12:26] nengard commented on #70
3.1-3.3 @JStickler already wrote.

[2018-01-09 12:26] #70 closed

[2018-01-09 12:57] pmkovar commented on #63
Cf. https://redhat-documentation.github.io/community-collaboration-guide/#ccg-checklist

[2018-01-09 13:08] nengard commented on #75
Per our meeting today: Team agrees this is a good idea once the guide is content complete.

[2018-01-09 15:40] inoxx03 opened #76 "Add section explaining AsciiDoc attribute files"
The content for this section should briefly explain:

* what an `attributes.adoc` file is and why is it useful when creating books
* what necessary elements that an attributes file must contain (for instance, `doctype` must be specified)
* A breakdown of the structure of a simple `attributes.adoc`. (an embedded `adoc` source with callouts on important lines would be the fomatting I'd prefer, but I

[2018-01-09 16:03] nengard opened #77 "Remove headings for unused sections"

[2018-01-09 16:16] inoxx03 commented on #76
@nengard Right, my bad, I completely skimmed over that one and missed it when checking the guide.I'll go over our existing content to see where it can be improved:)

[2018-01-09 16:19] nengard commented on #76
No worries! I did too! I'm the one who said we didn't have it in the guide yet :)

[2018-01-09 16:26] pmkovar commented on #74
I don't think I can write all the sections, let's take a look at the community survey results and reach out to involved parties to see if they can share knowledge with us wrt tool deployment. ;)

[2018-01-09 19:32] jenmalloy commented on #76
+1 to @inoxx03 suggestions, in particular how to "build out" link URLs with replaceables/variables. It's a great way to avoid hardcoding and really powerful for that reason.

Also, how to handle the product attributes file would be useful, since that's where things can get tricky if you are mirroring the upstream repo downstream. Since I'm working through this right now, I can write up my findings

[2018-01-16 18:01] #77 closed

[2018-01-16 18:02] nengard commented on #67
I've moved this section to earlier in the guide and am still awaiting information from IT in making the list public.

[2018-01-23 12:59] nengard commented on #66
Closing this in favor of separate issues for each chapter.

[2018-01-23 12:59] #66 closed

[2018-01-23 16:54] nengard opened #79 "Add issues to contact information"

[2018-01-23 17:10] #79 closed

[2018-01-23 17:13] nengard opened #81 "Remove unused sections"

[2018-01-23 17:25] nengard opened #83 "Fix Contacts Heading"
Should be a H2 not H1

[2018-01-23 17:27] #83 closed

[2018-01-23 17:46] nengard commented on #81
Missed 1

[2018-01-23 17:48] #81 closed

[2018-01-23 17:49] nengard commented on #24
I have commented this section out on the publishing.adoc file for now.

[2018-01-23 17:51] nengard opened #86 "Swap sections on creating repo & directory structure"
You need to create the repo before you decide on a directory structure.

[2018-01-23 17:52] #86 closed

[2018-01-23 18:00] jenmalloy opened #88 "Make heading title capitalization consistent throughout"

[2018-01-23 19:20] pmkovar opened #89 "Content gap: Translations"
The guide should discuss the aspect of translations in the community documentation project management.

* People (working with translators)
* Content (writing for translation)
* Processes (setting up a translation worflow)
* Toolchain (enabling the translation workflow)

More?

[2018-01-24 13:48] nengard opened #90 "Include References to Modular Docs"
To connect our efforts we should have a section that references the modular docs initiative content and guidelines. https://redhat-documentation.github.io/modular-docs/

[2018-01-25 14:52] #67 closed

[2018-02-02 00:03] adahms commented on #63
@ncbaratta @pmkovar -

I have been doing a bit of thinking about this issue, and wanted to put a few thoughts to you both before going ahead and making any major changes.

First and foremost, I saw the main goal of this issue as providing some guidance to readers about how to move from an existing repository structure and workflow into the proposed repository structure and workflow. That I can do,

[2018-02-05 21:20] pmkovar commented on #63
Thanks Andrew. I think it all sounds fine, just not sure about the last point. Maybe instead of creating new top-level chapters with a deep navigation path, we could focus on creating separate index files with groups of topics (or assemblies, if you like) to support multiple navigation paths (or user stories), per #75.

I would probably start by making sure we have one section per file, which we c

[2018-02-06 01:26] adahms commented on #63
@pmkovar - Thanks for the feedback, Petr!

It sounds like it might be a good idea to discuss this during the meeting. I have now submitted #93 as a first draft of some content for us to go over as well.

[2018-02-06 10:25] inoxx03 commented on #76
I've made some additions to the AsciiDoc chapter. The changes are introduced by [PR #94](https://github.com/redhat-documentation/community-collaboration-guide/pull/94).

[2018-02-07 16:04] #76 closed

[2018-02-07 18:38] pmkovar commented on #90
Yep, something to add to checklists as a consideration before establishing an upstream-downstream workflow. Mostly related to migrations (#63).

[2018-02-08 17:55] pmkovar commented on #63
Based on the content submitted by @adahms, we could also add the following considerations to the checklist:

* different source format -- toolchain support, compatibility, conversions
* content licensing -- license compatibility, expectations, adding license notes

[2018-02-12 22:03] ncbaratta commented on #63
Should we do a new Issue for this? Or just add it to this issue?

[2018-02-13 13:52] pmkovar commented on #63
I don't think a new issue is necessary. Let's just keep this one open.

[2018-02-20 05:25] adahms commented on #63
@ncbaratta @pmkovar - Thank you for your feedback.

I have now submitted #96 to add two paragraphs that provide some text on the two proposed topics. Maybe not a great amount of detail, but hopefully enough to let them make a start.

What do you think? I can see how we might add some more detail to them to provide more context, or is this sufficient for now?

[2018-02-20 11:58] ncbaratta commented on #63
I think it's sufficient for now. I'd love to get some feedback from those working with communities and see if we can expand them based on experience.

[2018-02-20 12:54] ncbaratta opened #97 "Joining a community Dos & Don'ts"
Let's add some quick Dos and Don'ts for joining and collaborating in a community for those who haven't worked upstream before.

[2018-03-20 12:16] ncbaratta commented on #75
We're going to hold off on this until after the mod docs training the last of which is in the US at the end of June.

[2018-03-20 13:37] pmkovar opened #98 "Point to GitLab-GitHub mirroring docs"
In section on synchronization mechanisms, we should mention GitLab-GitHub mirroring, pointing to the mirroring docs if available.

https://redhat-documentation.github.io/community-collaboration-guide/#ccg-create-repo-synch-methods

[2018-03-20 18:37] ncbaratta opened #101 "Update anchors to match approved style"
Update anchors per the guidelines in the mod docs guide: https://redhat-documentation.github.io/modular-docs/#anchor-and-file-names

[2018-03-20 18:55] #88 closed

[2018-03-20 18:58] ncbaratta opened #102 "Add a style guide for contributing"
We should have a style guide for those who want to contribute. Things like sentence case for headings, a specific format for IDs, etc etc.

[2018-04-03 13:04] ncbaratta opened #103 "Share scripts"
Many of us have scripts that we use to automate processes and it would be good if we shared them publicly so that we don't reinvent the wheel. We need to investigate how we can do this.

[2018-04-03 13:07] ncbaratta opened #104 "Link to doc guidelines"
Create a section where we reference documentation guidelines that we think are useful for others.  Include a link to the Red Hat documentation guidelines repo: https://github.com/redhat-documentation/doc-guidelines

[2018-04-06 13:57] #97 closed

[2018-05-01 12:22] ncbaratta opened #106 "Add getting started"
We need more of a getting started section (per the interviews).

- What do you have to gain by working this way? Why are recommending this way of working?
- Joining a community

We jump right into how without talking about the why

[2018-05-01 12:23] ncbaratta opened #107 "lessons learned"
Maybe add a section at the end : What pitfalls/lessons learned were there?

[2018-05-01 12:30] JStickler commented on #106
Great resource here ->  https://opensource.guide/how-to-contribute/

[2018-05-01 12:40] ncbaratta commented on #106
https://opensource.com/article/18/4/get-started-open-source-project

[2018-05-01 12:41] ncbaratta commented on #106
https://opensource.com/article/18/3/First-Contributions-project

[2018-05-01 12:42] ncbaratta commented on #106
https://opensource.com/tags/getting-started

[2018-06-20 19:40] ncbaratta opened #109 "Provide sample emails/scripts for communicating with a community for the first time"

[2018-08-16 16:00] ncbaratta commented on #103
Might make sense to put these in the tools (https://github.com/redhat-documentation/tools) repo.

[2018-08-16 16:02] ncbaratta commented on #73
Just an update here, I have something I can add here and I was asked about this in an interview I did today.

[2018-08-16 16:03] ncbaratta opened #110 "Include guidelines for using Aura"
Once Aura is public, we need to include guidelines for using it

[2018-08-16 16:03] ncbaratta commented on #110
Include the directory structure recommended by Aura

[2018-09-04 12:19] ncbaratta opened #111 "Talk about Antora as a tool for publishing docs"

[2018-09-05 15:26] pmkovar commented on #73
@ncbaratta I'd be also interested. Worked on projects like that before.

[2018-11-06 13:18] ncbaratta commented on #24
Invalid issues

[2018-11-06 13:18] #24 closed

[2018-11-06 13:19] ncbaratta commented on #63
From meeting: Start making a list of things that other writers have done when they migrated their repositories - this will never be a comprehensive list due to the nature of differing repo structures

[2018-11-06 13:22] ncbaratta commented on #69
Out of scope

[2018-11-06 13:22] #69 closed

[2018-11-06 13:36] ncbaratta commented on #74
Closing - will open new tickets for specific site builders

[2018-11-06 13:36] #74 closed

[2018-11-06 13:37] ncbaratta commented on #103
@inoxx03 you mentioned a script you use that we should share as well.

[2018-11-06 13:38] inoxx03 commented on #73
We use a sync script to copy the docs content form the Thorntail upstream repository to launcher documentation.

The procedure for using the script is documented in the Fabric8 Launcher contribution guide:
https://launcher.fabric8.io/docs/contrib-guide.html#syncing-with-wildflyswarm-docs_contributing

[2018-11-06 13:39] ncbaratta opened #112 "Pro Con list for Hugo as a Site Builder"
add Hugo to the site builders tools

[2018-11-06 13:47] ncbaratta commented on #103
@matthewhelmke might make sense to share : https://github.com/keycloak/keycloak-documentation/blob/master/sync.sh with some comments on what you need to customize

[2018-11-06 13:50] ncbaratta commented on #101
This is related to Issue #75

[2018-11-06 13:53] ncbaratta commented on #102
@jenmalloy will give us an update on the project to upstream the Red Hat docs Styleguide

[2018-11-06 13:56] ncbaratta commented on #106
@shaunix you might have some good resources I could share here.

[2018-11-06 14:00] #107 closed

[2018-12-04 12:59] ccopelloRH opened #113 "Code of Conduct"
For consideration:

If joining a community, we should ask if they have a code of conduct in their repo. If they don't have one, we should recommend establishing one.

[2018-12-04 13:35] ncbaratta commented on #109
In chapter 2 we have a lot about contributing upstream and dos and don'ts - maybe add a section here with a sample email that you could send.

[2018-12-04 13:36] ncbaratta commented on #110
Once Aura is open sourced we should update chapter 6 with info from those guidelines.

[2018-12-04 13:39] ncbaratta commented on #111
Add Antora to the building and publishing chapters

[2018-12-04 13:40] ncbaratta commented on #112
This would go in the building chapter.

[2018-12-04 13:41] ncbaratta commented on #113
We should totally add our own code of conduct, but I think recommending how to get communities to adopt one is out of the scope of this guide.  Opensource.com has plenty of resources we can point to about this.

[2019-01-09 13:54] #112 closed

[2019-01-21 19:43] ncbaratta commented on #103
I have shared mine here: https://github.com/redhat-documentation/tools/tree/master/git-export

@inoxx03 do you have a script to share? If not I'll go ahead and close this.

[2019-01-31 17:35] ncbaratta opened #116 "Links to share with new communities"
Great questions from Chris Negus today got me thinking we should include a quick checklist of items to share with engineers who want to collaborate on docs in a new repo.

For example, I recommended:

- Terms & Conventions (we can't share yet cause it's not public)
- My contribution guidelines from Strimzi https://github.com/strimzi/strimzi-kafka-operator/tree/master/documentation/contributing
- M

[2019-01-31 18:07] chrisnegus commented on #116
The spirit of my questions to Nicole was to be able to tell upstream docs contributors: "Our goals in creating upstream docs contribution guidelines is to make those docs consistent across upstream communities and easier to be reused by downstream consumers, such as Red Hat."

[2019-02-11 17:01] jenmalloy commented on #73
I'm planning to contribute this content to the community guide: https://docs.google.com/document/d/1Urw4ClA0SlG4Fms4Nu9hSW0VoAITvYrrrQtGAXCECpQ/

[2019-02-11 17:18] sjay72 commented on #73
+1 @jenmalloy. Very helpful.

[2019-02-11 17:48] sjay72 opened #117 "Include guidelines for adding diagrams/graphics source files"
Recommendation: Community projects should possess and maintain source files for any diagrams or images, whether they are used for internal discussions, in the upstream documentation, or as the "mock-up" for the creation of RH-style images created by CCS for use downstream.

Scenario that inspired this guideline:
- Devs created diagrams to use in the upstream documentation, but did not add source f

[2019-02-14 20:21] jenmalloy commented on #73
PR submitted: https://github.com/redhat-documentation/community-collaboration-guide/pull/118

[2019-02-20 18:46] pmkovar opened #119 "Add license for community-collaboration-guide"
The Modular Documentation Reference Guide is licensed under CC-BY-SA-4.0, so let's follow suit and add a CC license to the community-collaboration-guide.

See https://github.com/redhat-documentation/modular-docs/issues/78.

[2019-02-20 18:48] pmkovar commented on #117
Should also add that the generally preferred source format for vector graphics is SVG.

[2019-02-22 16:54] pmkovar commented on #103
Before closing, we want to reference the tools repo from the community-collaboration-guide, I guess.

[2019-03-06 13:59] jenmalloy commented on #73
Closing this issue, as content is now live: https://redhat-documentation.github.io/community-collaboration-guide/#ccg-considerations-sharing-repo

[2019-03-06 13:59] #73 closed

[2019-03-06 15:12] pmkovar commented on #119
@ncbaratta I forgot to mention this in the last meeting, can we add it to the agenda for the next meeting?

[2019-03-06 15:42] ncbaratta commented on #119
Done! :)

[2019-04-02 12:34] pmkovar opened #122 "Include guidelines for licensing content"
Include guidelines for licensing community content.

Reference: https://fedoraproject.org/wiki/Docs_Project_licensing_FAQ?rd=DocsProject/Licensing/FAQ

[2019-04-02 12:49] ncbaratta commented on #119
Resolved per a vote on 2 April 2019 : https://github.com/redhat-documentation/community-collaboration-guide/commit/4cdec7286c52c3ec2770c377e2cbfde6530adb16

[2019-04-02 12:49] #119 closed

[2019-06-04 19:08] ncbaratta commented on #111
@finp this came up in today's meeting.  If you have anything written can you submit a PR.  @shaunix is going to work on getting this into the guide and I don't want him to reinvent the wheel.  If you can't get to this feel free to remove yourself as the assignee.

[2019-06-05 12:55] finp commented on #111
@shaunix I'm not sure what we want to do here, the issue is resolving the requirements of antora (eg no symlinks) with the red hat way. I'll follow up in email

[2020-03-30 01:05] adahms commented on #75
Looks like this one has been open for a while, but now could be a good time to address it.

@ncbaratta - any issues with me creating a PR for this one for your team to review?

[2020-03-30 12:03] ncbaratta commented on #75
Not at all!! Do it!! :)

[2020-04-09 03:01] adahms commented on #75
As a quick update, I *am* working this - it's just taking a little time as I break the task out over a number of days. It's all moving ahead, I promise. :)

[2020-04-29 00:50] adahms commented on #75
@pmkovar @ncbaratta - you might have seen this already, but I have now raised a WIP PR for this issue in #123.

There is still some work to go, but the majority of structural changes are done - only in community/master.adoc for now - and content split into assemblies and modules.

Raising a WIP so you can check and see what you think of the work done already in case we need to alter course and so

[2020-04-29 16:24] pmkovar commented on #110
@ncbaratta I don't think Aura is still a thing, let's close this?

[2020-04-29 17:53] #110 closed

[2020-05-05 01:49] adahms commented on #75
The corresponding PR has now been merged.

Closing.

[2020-05-05 01:49] #75 closed

[2022-11-11 13:52] silopolis commented on #89
Hello, Lords of the Docs !

As I was about to open another issue on this matter, may I ask here what's the status of Translations for all the great contents shared here under this organization ?

I'm interested and tempted to work on French translation, but would rather not start on the wrong foot at the wrong place !
So WRT to the OP, my main questions now would concern the last two points, plus

[2022-11-11 14:26] pmkovar commented on #89
Just to clarify, the goal here was not to enable the content in this org for translation but to document that aspect.

The source of the content is Asciidoc and translating Asciidoc content proved to be quite challenging for some projects. For starters, you can have a look at a Fedora effort to translate content in Antora-managed Asciidoc to other languages: https://pagure.io/fedora-docs/translati

[2022-11-11 17:40] silopolis commented on #89
Le ven. 11 nov. 2022 à 15:26, Petr Kovar ***@***.***> a
écrit :

Not sure I get it then 🤔
Does it mean that nothing is to be expected from RH on this front and that
another org has/is free to take charge ?

The source of the content is Asciidoc and translating Asciidoc content

Quite challenging indeed, compañeros over at @linuxcnc can witness !
But with the help of po4a and great support from its

[2022-11-30 15:57] pmkovar commented on #89
another org has/is free to take charge ?

Correct, no translation work is planned here.